<div class="center jumbotron">
  <h1>Bulbs</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>On</th>
        <th>Reachable</th>
        <th>Brightness</th>
        <th>Hue</th>
        <th>Saturation</th>
        <th>Color Temperature</th>
        <th>Transition Time</th>
      </tr>
    </thead>
    <tbody>
      <% @bulbs.each do |b| %>
      <tr>
        <td><%= b.id %></td>
        <td><%= b.name %></td>
        <td><%= b.on %></td>
        <td><%= b.reachable %></td>
        <td><%= b.bri %></td>
        <td><%= b.hue %></td>
        <td><%= b.sat %></td>
        <td><%= b.ct %></td>
        <td><%= b.transitiontime != nil ? b.transitiontime : 0 %></td>
        <% if b.reachable %>
          <td><a href="<%= b.id %>">Edit</a></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
