<div class="center jumbotron">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1><%= @lock[:uuid] %></h1>
      <%= form_for(:bulb, method: :put, class: 'form-horizontal') do |f| %>
        <div class="form-group">
          <%= f.label :On, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.check_box :locked, class: 'form-control' %>
          </div>
        </div>
        <%= f.submit "Update", class: "btn btn-primary", method: :put %>
      <% end %>
    </div>
  </div>
</div>
