<!DOCTYPE html>
<html>
<head>
  <title>Tollan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Home", root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Bulbs", '/bulbs/' %></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", logout_path, method: 'delete' %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Register", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>
</body>
</html>

